<div class="row">
  <div class="col-lg-6 offset-lg-3">
  <table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ime</th>
      <th scope="col">Prezime</th>
      <th scope="col">Email</th>
      <th scope="col">Briši</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor= "let kontakt of kontakti">
      <td>{{kontakt.ime}}</td>
      <td>{{kontakt.prezime}}</td>
      <td>{{kontakt.email}}</td>
      <td>{{kontakt.lozinka}}</td>
      <td><button type="button" class="btn btn-danger" (click)="delete(kontakt._id)">Delete</button><br></td>
    </tr>
  </tbody>
</table>
  </div>
</div>

    
